<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Demo</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/chessboard-1.0.0.min.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="/static/css/charts.min.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div id="boards-wrapper">
      <!-- Chess boards will be dynamically added here -->
    </div>
  </div>

  <div>
    <h1>Real-Time CPU Usage</h1>
        <table class="charts-css column show-data show-labels show-primary-axis show-10-secondary-axes" id="chart">
            <thead>
                <tr>
                    <th scope="col">CPU</th>
                    <th scope="col">Usage</th>
                </tr>
            </thead>
            <tbody id="chart-body">
            </tbody>
        </table>
  </div>

  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/chessboard-1.0.0.min.js"></script>
  <script src="/static/js/renderer.js"></script>

</body>
</html>